<div class="panel panel-default">
  <div class="panel-body">
    <a href="/auth/google" class="btn btn-primary"><i class="fa fa-google-plus"></i> Login with <b>Google<b></a>
    <a href="/auth/facebook" class="btn btn-primary"><i class="fa fa-facebook"></i> Login with <b>Facebook</b></a>
    <a href="/auth/twitter" class="btn btn-primary"><i class="fa fa-twitter"></i> Login in with <b>Twitter</b></a>
  </div>
</div>
